<!--core/index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido a ¡APP.Gimnasio!</h1>

    <div>
        <a href="{% url "Cliente: alumno_index" %}"Ir a alumnos></a>
        <a href="{% url "Cliente: profesor_index" %}"Ir a profesores></a>
        <a href="{% url "Cliente: turno_index" %}"Ir a turnos></a>
    </div>
    
</body>
</html>