<!DOCTYPE html>

{% extends 'base.html' %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tu Título</title>
</head>
<body>
    <header>
        <h1>Bienvenido al Gimnasio</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="{% url 'Cliente:pagina_principal' %}">Página Principal</a></li>
            <li><a href="{% url 'Cliente:alumno_index' %}">Alumnos</a></li>
            <li><a href="{% url 'Cliente:turno_index' %}">Turnos</a></li>
            <li><a href="{% url 'Cliente:profesor_index' %}">Profesores</a></li>
         
        </ul>
    </nav>

    

</body>
</html>